.nav{
    display: flex;
    justify-content: space-around;
}
.nav img{
    align-items: center;
    display: flex;
}
.mid-section{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;

}
.mid-section > p{
    color: #4d4d4d;
    font-size: 16px;
}
.hero-section{
    display: flex;
    justify-content: space-evenly;
    padding-top: 90px;
}
.hero-section > p{
    font-size: 40px;
    font-weight: bolder;
    color: #4d4d4d;
}
.clients{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4d4d4d;
}
.paragraph{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #9d9d9d;
    margin-top: -30px;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.paragraph2{
    display: flex;
    color: #4d4d4d;
    font-family: Arimo, serif;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.logos{
    display: flex;
    gap: 150px;
}
.paragraph3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arimo, serif;
    color: #4d4d4d;
}
.paragraph3 img{
    display: flex;
    margin-left: 50px;
    width: 250px;
}
.paragraph3 h2{
    margin-left: 100px;
}
.paragraph4{
    display: flex;
    margin-left: 250px;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 40px;
}
.container img{
    margin-left: 100px;
    display: block;
    width: 30px;
    padding-left: 10px;
}
.container1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.container1 img{
    margin-right: 100px;
    width: 300px;
}
.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}
.container2 img{
    margin-right: 100px;
    width: 250px;
}
.container3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    font-family: Arimo, serif;
}
.paragraph5{
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arimo, serif;
    margin-left: 250px;
    margin-top: -30px;
}
.img2{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 15px;
}
